html,
body {
	background-color: black;
	color: white;
	margin: 5px;
	padding: 0;
	overflow: auto;
}

img {
	width: 24px;
	height: 24px;
	box-shadow: none;
	transition: box-shadow 0.1s linear;
}

span {
	display: flex;
	margin-bottom: -10px;
	transition: color 0.3s linear;
}

button {
	padding: 10px;
	border: solid 4px #0060df;
	border-radius: 10px;
	color: white;
	margin: 10px;
	background-color: #0060df;
	transition: background 0.1s linear, transform 0.1s ease-out;
}

button:hover {
	color: black;
	background-color: #ddd;
}

button:active {
	transform: scale(0.9);
	color: black;
}

details {
	display: inline;
	color: #6a73a2;
}

select {
	border: ridge 2px white;
	width: 100px;
}

select:hover {
	background-color: white;
}

video {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#grid {
	width: 700px;
	height: 700px;
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(5, auto);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.cell {
	background-size: 100% 100%;
	transition: box-shadow 0.1s linear, border-radius 0.1s linear;
	position: relative;
	top: 0;
	left: 0;
	border: 0;
	border-radius: 0px;
	width: 100%;
	height: 100%;
}

#texturesPreload {
	display: none;
}

#version {
	position: fixed;
	bottom: 0;
	right: 0;
	font-family: sans-serif;
	padding: 10px;
}

.btnGroup {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	gap: 10px;
}

#devPanel {
	width: 50vw;
	height: 18vh;
	position: fixed;
	right: 0;
	padding: 10px;
	top: 0;
	text-align: right;
	transition: bottom 0.3s ease-in-out;
	font-family: sans-serif;
	display: none;
	font-size: 20px;
}

#userPanel {
	width: 95%;
	height: 96%;

	padding: 2%;
	position: fixed;
	bottom: -100vh;
	left: 0;
	font-size: 15px;
	font-family: sans-serif;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: flex;
	flex-direction: column;
	transition: bottom 0.1s ease-out;
}

#userPanel.visible {
	bottom: 0;
}

#a1 {
	font-size: 1em;
	transition: font-size 0.5s linear;
}

#a2 {
	font-size: 1em;
	transition: font-size 0.5s linear;
}

#save {
	display: none;
}

#menubtns-wrapper {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 4;

	display: flex;
	flex-direction: row;
}
#menubtns-wrapper button {
	margin: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 3vmin;
	padding: 2vmin;
}
#generator {	
	border-top-right-radius: 0;
}

#menu-toggle {
	border-top-left-radius: 0;
}
#menu-toggle::after {
	content: "▲";
}
#menu-toggle.toggled::after {
	content: "▼";
}

#canvas {
	/* width: 700px;
	height: 700px; */
	width: 100vmin;
	height: 100vmin;
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: repeat(5, auto);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sliderWrapper {
	width: 100%;

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: min-content 1fr min-content;
	align-items: center;
	gap: 10px;
}